<div *ngIf ="!Show">
    <h1>Create Payment</h1>
    <form>
        <label for="brgnr">User ID</label>
        <input type="text" style="padding-left:2px" name="UserId" value="5G7283" #u/>

        <label for="brgnr">Agreement Number</label>
        <input type="text" style="padding-left:2px" name="agreementnumber" value="0F2714" #a/>

        <label for="fromacount">From Account</label>
        <input type="text" style="padding-left:2px" name="fromaccount" value="3361632362" #f/>

        <label *ngIf="!code" for="toaccount">To Account</label>
        <input *ngIf="!code" type="text" style="padding-left:2px" name="toaccount" value="3258186214" [(ngModel)]="pay.toaccount"/>

        <label for="amount">Amount</label>
        <input type="text" style="padding-left:2px" name="amount" value="" #b/>

        <label for="type">Payment Type</label>

        <select (change)="BenType(p.value)" id="type" style="padding-left:2px" name="paymenttype" value="" #p>
            <option selected disabled>Choose a payment type...</option>
            <option value="BIK">Inpayment form</option>     
            <option value="BKT">Internal Account transfer</option>     
            <option value="BKT">External Account transfer</option>   
            <option value="BKL">Salary</option>   
        </select>
        <div *ngIf="benDd">
            <select id="type" style="padding-left:2px" name="beneficiarytype" value="" [(ngModel)]="pay.btype">
                <option selected disabled>Choose beneficiary type...</option>
                <option value="ACC">Account number</option>
                <option value="NKC">CPR number</option>
                <option value="NKV">CVR number</option>
                <option value="NKP">Production unit no.</option>
                <option value="NKR">CVR with SE number</option>
                <option value="NKS">SE number</option>
            </select>
        </div>
        <div *ngIf="code">
            <label for="codeline">Code line</label>
            <select id="type" style="padding-left:2px" name="kortart" value="" [(ngModel)]="pay.kortart">                
                <option value="01">+01</option>
                <option value="04">+04</option>
                <option value="15">+15</option>
                <option value="41">+41</option>
                <option value="71">+71</option>
                <option value="73">+73</option>
                <option value="75">+75</option>
            </select>
            <input type="text" style="padding-left:2px" placeholder="Payment ID" name="ikdent" value="" [(ngModel)]="pay.ikdent"/>
            <input type="text" style="padding-left:2px" placeholder="Creditor or giro account number" name="ibkreditor" value="" [(ngModel)]="pay.ibkreditor"/>
            <input type="text" style="padding-left:2px" placeholder="Message to beneficiary" name="modtagtext" value="" [(ngModel)]="pay.modtagtext"/>
        </div>    
        <input type="button" value="Create Payment" (click)="CreateP(u.value,a.value,f.value,b.value,p.value)">        
    </form>
</div>
<div *ngIf="Show">
    <form>
        <label id="response">{{result}}</label>
        <input type="button" value="Create Another Payment" (click)="CreateMore()">
    </form>
</div>
<!-- The Modal -->
<div *ngIf="dis" id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="Disfalse()">&times;</span>
    <label for="type">Enter the amount</label>
    <input type="text" style="padding-left:2px" name="amountTransfer" value="" #amo/>
    <input type="button" value="Transfer" (click)="Disfalse()">
  </div>
</div>
